
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <form>
        <input name="isimSoyisim" type="text" /> <br />
        <input name="eposta" type="email" /> <br />
        <textarea name="mesaj"></textarea> <br />
        <input type="submit" value="GÖNDER" />
    </form>
</body>
